.Univ_ViewContainer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  text-align: justify;
}

.Univ_dateContainer {
  position: absolute;
  top: 10px;
  left: 100px;
}
.Univ_datepicker {
  width: 200px;
  height: 50px;
  background-color: transparent;
}
.Univ_datepicker .ant-picker-input > input,
.Univ_datepicker .ant-picker-input > span {
  font-size: 20px;
  font-family: 'YUniverse-B';
  color: #8ca79a;
  background-color: transparent;
}
/* .css-dev-only-do-not-override-1n7nwfa.ant-picker:hover,
.css-dev-only-do-not-override-1n7nwfa.ant-picker-focused {
  outline-color: aliceblue;
} */
.Univ_loader {
  position: absolute;
  z-index: 500;
  top: 50%;
  left: 45%;
}
.Univ_loader svg {
  transform: scale(3);
}

.Univ_textContainer {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 80px;
}

.Univ_title {
  margin: 0 0 20px 50px;
  font-size: xx-large;
  font-weight: bolder;
  color: #8ca79a;
}
.Univ_explanation {
  font-size: larger;
  font-weight: lighter;
  color: #60746a;
  /* color: rgb(67, 87, 77); */
}
