/* window_upload CSS 정리 */
/* Page div 배치 정리 */
.fullBox {
  padding: 200px 270px 0 270px;
}

.uploadBox {
  display: flex;
  justify-content: space-between;
}
.detailBox {
  text-align: left;
  margin-top: -15px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: scroll;
}
.detailBox::-webkit-scrollbar {
  display: block !important;
}
.detailBox::-webkit-scrollbar {
  width: 7px; /* 스크롤바의 너비 */
  margin-right: 5px;
}

.detailBox::-webkit-scrollbar-thumb {
  background: #bebebe; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.detailBox::-webkit-scrollbar-track {
  background: #fff; /*스크롤바 뒷 배경 색상*/
}

/* Page Title style 지정 */
.windowUploadTitle {
  font-weight: bolder;
  text-align: left;
}

/* post info 값 box style 지정 */
/* .scroll {
  overflow: auto;
  height: 400px;
  display: inline-block;
} */

/* Upload imgDiv style 지정 */
.imgDiv {
  width: auto;
  height: 800px;
  background-color: #797284;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-family: 'SDSwaggerTTF';
}
.imgDiv:hover {
  color: #ffffff;
}
.upLoadImgDiv {
  width: auto;
  height: 800px;
  object-fit: cover;
}
.upLoadImgDiv:hover {
  opacity: 0.9;
}

/* countryeSelect태그, cityInput태그 style 지정 */
.countrySelect {
  display: inline-block;
}
.cityInput {
  display: inline-block;
  margin-left: 15px;
}

/* Upload 버튼 style 지정 */
.uploadBtn {
  margin-top: 40px;
  text-align: right;
}

@media (max-width: 1440px) {
  .fullBox {
    padding: 50px 220px 0 180px !important;
  }
  .imgDiv {
    height: 400px !important;
  }
  .upLoadImgDiv {
    height: 400px !important;
  }
  .detailBox {
    height: 400px !important;
  }
  .cityInput {
    width: 150px !important;
  }
}
