/* window_upload CSS 정리 */
/* Page div 배치 정리 */
.fullBox {
  padding: 200px 270px 0 270px;
}

.uploadBox {
  display: flex;
  justify-content: space-between;
}
.detailBox {
  text-align: left;
  margin-top: -20px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Page Title style 지정 */
.windowUploadTitle {
  font-weight: bolder;
  text-align: left;
}

/* Upload imgDiv style 지정 */
.imgDiv {
  width: auto;
  height: 800px;
  background-color: #797284;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}
.imgDiv:hover {
  color: #ffffff;
}
.upLoadImgDiv {
  width: auto;
  height: 800px;
  object-fit: cover;
}
.upLoadImgDiv:hover {
  opacity: 0.9;
}

/* countryeSelect태그, cityInput태그 style 지정 */
.countrySelect {
  display: inline-block;
}
.cityInput {
  display: inline-block;
  margin-left: 15px;
}

/* Upload 버튼 style 지정 */
.uploadBtn {
  margin-top: 40px;
  text-align: right;
}

@media (max-width: 1440px) {
  .fullBox {
    padding: 50px 270px 0 270px;
  }
  .imgDiv {
    height: 100%;
  }
  .upLoadImgDiv {
    height: 400px;
  }
}
